In [1]:
# It means transferring word to its stem in a better way

In [4]:
text=['I like fishing','I eat fish','There are many fishes in pound', 'leaves and leaf']
import pandas as pd
df=pd.DataFrame({'tweet':text})

In [5]:
df

                            tweet
0                  I like fishing
1                      I eat fish
2  There are many fishes in pound
3                 leaves and leaf

In [8]:
from textblob import Word
df['tweet'] = df['tweet'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))

In [9]:
df

                          tweet
0                I like fishing
1                    I eat fish
2  There are many fish in pound
3                 leaf and leaf