In [11]:
text_data= ['This is introduction to NLP','It is likely to be useful, to people ', 'Machine learning is the new electrcity','There would be less hype around AI and more action going forward','python is the best tool!','R is good langauage','I like this book','I want more books like this']

In [12]:
import pandas as pd
df=pd.DataFrame({'tweet':text_data})

In [13]:
df

                                               tweet
0                        This is introduction to NLP
1              It is likely to be useful, to people
2             Machine learning is the new electrcity
3  There would be less hype around AI and more ac...
4                           python is the best tool!
5                                R is good langauage
6                                   I like this book
7                        I want more books like this

In [4]:
x='Testing'
x2=x.lower()

In [5]:
x2

'testing'

In [9]:
# It takes a function as an input and applies this function to an entire DataFrame.
#x.split() splits the string x into a list of individual words based on whitespace. For example, if x is "Hello World", x.split() would return ["Hello", "World"]
#x.lower() converts each word in the list to lowercase. So, ["Hello", "World"] becomes ["hello", "world"]
#" ".join(...) joins the lowercase words back together with a space between them. So, ["hello", "world"] would become "hello world"
df['tweet'] = df['tweet'].apply(lambda x:" ".join(x.lower() for x in x.split()))

In [10]:
df

                                               tweet
0                        this is introduction to nlp
1               it is likely to be useful, to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                           python is the best tool!
5                                r is good langauage
6                                   i like this book
7                        i want more books like this

In [14]:
#Instead of above you can use this code as well.
df['tweet'] = df['tweet'].str.lower()

In [15]:
df

                                               tweet
0                        this is introduction to nlp
1              it is likely to be useful, to people
2             machine learning is the new electrcity
3  there would be less hype around ai and more ac...
4                           python is the best tool!
5                                r is good langauage
6                                   i like this book
7                        i want more books like this